// Icon Resource Definition
#define MAIN_ICON                       102

#if defined(_DEBUG)
MAIN_ICON               ICON                    "bin\data\Dior.ico"
#else
MAIN_ICON               ICON                    "bin\data\Dior.ico"
#endif